footer
  z-index: 499
  background: $grey-purple
  height: 232px
  margin-top: 420px
  position: relative
  @media (max-width: $mobile)
    margin-top: 200px
    height: 282px

  .footer-content
    margin: auto
    width: 473px
    padding-top: $spacing-l
    @media (max-width: 1400px)
      padding-top: $spacing-xxl
    @media (max-width: 473px)
      width: auto
    .social
      margin: auto
      width: 273px

    .links
      @media (max-width: $mobile)
        flex-direction: column
        align-items: center
        margin-bottom: $spacing-giga
      font-family: Apercu Pro
      font-size: 18px
      height: 25px
      a
        color: $white
        @media (max-width: $mobile)
          padding-bottom: 5px

    .footnote
      text-align: center
      height: 50px
      p
        line-height: 25px
        color: $white

  .scale-scenery
    .left-scenery, .bike, .bike-mobile, .right-scenery, .right-scenery-mobile, .right-scenery-lhd, .right-scenery-lhd-mobile
      position: absolute
    .left-scenery
      height: 173px
      top: -148px
    .bike
      display: none
      &-mobile
        height: 41px
        top: -33px
        left: 105px
    .right-scenery
      display: none
      &-mobile
        height: 77px
        top: -171.25px
        right: 6px
    .right-scenery-lhd
      display: none
      &-mobile
        height: 77px
        top: -68px
        right: 4px
    @media (min-width: $mobile)
      .left-scenery
        height: 350px
        top: -299px
      .bike-mobile
        height: 63px
        top: -43px
        left: 234px
      .right-scenery-mobile
        height: 179px
        top: -138px
        right: 4px
      .right-scenery-lhd-mobile
        height: 157px
        top: -138px
        right: 4px
    @media (min-width: $phablet) // handles hiding mobile components and showing desktop components
      .bike
        display: inline
        &-mobile
          display: none
      .right-scenery-lhd
        display: inline
        &-mobile
          display: none
      .right-scenery
        display: inline
        &-mobile
          display: none
    @media (min-width: $phablet)
      .left-scenery
        height: 399px
        top: -341px
      .bike
        height: 71px
        top: -61px
        left: 251px
      .right-scenery
        height: 179px
        top: -140px
        right: 80px
      .right-scenery-lhd
        height: 179px
        top: -140px
        right: 57px
    @media (min-width: $laptop)
      .left-scenery
        height: 599px
        top: -512px
      .bike
        height: 106px
        top: -90px
        left: 369px
      .right-scenery
        height: 268px
        top: -210px
        right: 122px
      .right-scenery-lhd
        height: 268px
        top: -210px
        right: 122px
    @media (min-width: 1400px)
      .left-scenery
        height: 599px
        top: -512px
      .bike
        height: 106px
        top: -34px
        left: 343px
      .right-scenery
        height: 268px
        top: -210px
        right: 122px
      .right-scenery-lhd
        height: 268px
        top: -210px
        right: 122px
